* {
   margin: 0;
   padding: 0;
}
body {
   font-size: 50px;
   font-family: "Courier New", Courier, monospace;
   margin-top: 10px;
   background: rgba(255, 255, 255, 0.171) url(../image/background.png) no-repeat;
   background-size: 100%;
}
table {
   background-color: rgba(146, 133, 108, 0.658);

   align-items: center;
   width: 95%;
   margin: auto;
   border-collapse: collapse;
   border: 15px double rgb(26, 22, 17);
}
th,
td {
   text-align: center;
   border: 4px solid rgb(26, 22, 17);
}
.row4,
.row3 {
   height: 104.8px;
}
.servicesTitle,
.servicesData {
   font-size: 40px;
   width: 10%;
   padding: 80px 5px;
   transform: rotate(-90deg);
}
